body {
    margin: 0px;
    background-color: black;
    cursor: crosshair;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* the PIXEL class */
.pixel {
    padding: 0px;
    position: fixed;
}

.color_wheel {
    position: fixed;
    opacity: 0;
    transition: opacity 0.1s ease;
}