body {
    margin: 0px;
    background-color: black;
    cursor: crosshair;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* the PIXEL class */
.pixel {
    padding: 0px;
    position: fixed;
}

/* color wheel */
.color_wheel {
    position: fixed;
    opacity: 0;
    transition: opacity 0.1s ease;
}

/* the startup info text box */
.startup_screen {
    z-index: 1;
    position: fixed;
    top: 50%; 
    left: 50%;
    width: 25%;
    height: 25%;
    margin-top: -12.5%;
    margin-left: -12.5%;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    transition: opacity 1s ease;
}